<!DOCTYPE html>
<html>
<head>
  <title>Peter's Speakeasy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <h1 class="ui header">Peter's Speakeasy</h1>

  <% if notice %>
    <div class="ui message">
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
